.arrowContent{
    transition: 0.6s;
    width: 66px;
    /* height: 63px; */
    border-radius: 50%;
    position: sticky;
    /* padding-top: 7px; */
    top: 300px;
    margin: auto;
    cursor: pointer;
    padding: 0px;
    height: 0px;

}

.imgArrow{
    display: block;
    margin: auto;
}


@media  only screen  and (max-width: 500px){
    .arrowContent{
        top: 480px;
    
    }
    
    

}
